.lead__title {
  margin: 56px auto 0 auto;
  padding: 0;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 56px auto 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12.5vw;
  }
}

@media screen and (max-width: 420px)  {
  .lead__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
