.cover {
  max-width: 92.5%;
  min-height: 740px;
  margin: 92px auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}

.cover:hover .cover__overlay {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 420px)  {
  .cover {
    margin-top: 66px;
    min-height: 200px;
    background-size: cover;
  }
}
