.place__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: all .3s ease-in-out;
}

.place__link:hover {
  opacity: .8;
}
